@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
    font-family: 'Rubik', sans-serif;
}

body, html {
    overflow-x: hidden;
}

.hero {
    font-size: 70px;
    font-weight: bold;
}

#password {
    color: red;
}
